/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*
{box-sizing: border-box;
}

img{
    vertical-align: middle;
    object-fit: cover;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Aria", sans-serif;
    overflow-x: hidden;
}

.container{
    width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


.header{
    background-image: url("../img/back-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F3D7B7;
    background-blend-mode:overlay;
    
    padding-top: 40px;
    padding-bottom: 40px;
    
}



.header__inner{
    display: flex;
    align-items: center;
    
    
}

.header__menu{
    margin-left: auto;
}

.header__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
    
}

.header__item{
    font-size: 12px;
    font-weight: 700;
    line-height: 14.06px;
}

.header__item ~ .header__item{
    margin-left: 40px;
}

.header__link{
    color:#333333;
    text-decoration: none;
}


/* ================hero=============== */




.hero{
    padding:116px 0 249px 0;
    background-image: url("../img/two-cups.png"), url("../img/back-img.png") ;
    background-repeat: no-repeat;
    background-size: contain , 100%;
    background-position: calc(50% + 404px) calc(50% - 1px), center center;
    background-color: #f3d7b7;
    background-blend-mode: normal, overlay;
    position: relative;
}

.hero::before{
    position: absolute;
    top: -60px;
    left: calc(50% - 27px);
    z-index: 10;
    display: block;
    width: 160px;
    height: 160px;
    background-image: url("../img/deer-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    
}

.hero__inner{
    width: 564px;
    padding-left: 100px;
    
}



.hero__title{
    font-weight: 700;
    font-size: 64px ;
    line-height:75px;
    margin-top: 0;
    margin-bottom: 24px;
}

.hero__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 34px;
}


.hero__click{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-decoration: none;
    padding: 16px 24px;
    color:#FFFFFF;
    background-color:#0A775F ;
    border-radius: 100px;
}

.hero__logo{
    position: absolute;
    top: -82px;
    right: 590px;
    
}


/* =============collection============= */


.collection {  
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;    
    background-color: #FFFFFF;
}

.collection__inner {
    background-image: url("../img/collect-back.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F8F8F2;
    background-blend-mode: overlay;
    margin: 0 auto;
    padding: 50px 20px ;
    position: relative;
}

.collection__inner::before{
    width: 402px;
    height: 300px;
    position: absolute;
    top: 88px;
    right: calc(50% + 501px);
    display: block;
    background-image: url("../img/green.png");
    background-size: 402px 300px;
    background-repeat: no-repeat;
    
    content: "";
}

.collection__title {
    font-size: 50px;
    font-weight:700 ;
    line-height: 58.59px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
}

.collection__list {
    width: 1114px;
    margin: 0 auto;   
    padding: 0;
    list-style: none;   
    position: relative;
}

.collection__list::after{
    width: 392px;
    height: 477px;
    position: absolute;
    top: 509px;
    left: calc(50% + 571px);
    background-image: url("../img/green2.png");
    background-size: 392px 477px;
    background-repeat: no-repeat;
    content: "";
    
}

.collection__item {
    display: flex;
    align-items: center; 
    
}





.collection__item:nth-child(2){ 
    flex-direction: row-reverse;
}

.collection__item:nth-child(4){
    flex-direction: row-reverse;
    
}

.collection__item--fourth{
    position: relative;
}

.collection__item--fourth::before{
    width:316px;
    height: 269px;
    position: absolute;
    top: -47px;
    right: calc(50% + 627px);
    background-image: url("../img/green3.png");
    background-size: 316px 269px;
    background-repeat: no-repeat;
    content: "";
}



.collection__img{
    width: 450px;
    height: 375px;
    margin-right: 117px;
}

.collection__img--right{
    margin-right: 0;
    margin-left: 117px;

}

.collection__wrapper {
    width: 453px;
    
}

.collection__wrapper--second  {
    width: 390px;
    
}


.collection__wrapper--fourth{
    width: 410px
}

.collection__text {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-transform: uppercase;
    color:#333333;
    margin-top: 0;
    margin-bottom: 10px;
    
}

.collection__info {
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    margin: 0;
    
}


/* ==============CHOICE================ */

.choice {
    padding: 0 20px 0 20px;
    margin-bottom: 289px;
    position: relative;
}
.choice__inner {
    height: 703px;
    background-image: url("../img/choice-back.png");
    background-size: contain;
    background-color: #C99B67;
    background-blend-mode: overlay;
    padding-top: 50px; 
}

.choice__wrapper {
    width: 548px;
    margin: 0 auto;
    margin-bottom: 80px;
    
    
}
.choice__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 59px; 
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
    
}
.choice__text {   
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
    opacity: 80%
}


.choice__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -189px;
    left: 50%;
    right: 50%;
    z-index: 2;
}



.choice__item:nth-child(2){
    
    margin: 0 20px;
}


.choice__list::before{
    position: absolute;
    top: -50px;
    right: calc(50% + 581px);
    z-index: 3;
    width: 140px;
    height: 144px;
    background-image: url("../img/choice.svg");
    background-repeat: no-repeat;
    background-size: 140px 144px;
    content: "";  
}



.choice__img{
    width:433px ;
    height:500px ;
    margin-bottom:28px ;
}


.choice__pack {
    width: 377px;
}
.choice__quality {
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
}
.choice__benefit {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    color: #333333;
}


/* ================works=============== */


.works {
    padding: 0 20px 0 20px;
    margin-bottom: 50px;
    position: relative;
}


.works::before{
    width: 192px;
    height: 129px; 
    position: absolute;
    top: 44px;
    left: calc(50% + 438px);
    z-index: 2;
    background-image: url("../img/ball.svg");
    background-repeat: no-repeat;
    background-size: 192px 129px;
    content: "";
}

.works__inner {
    background-image: url("../img/choice-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#0A775F;
    background-blend-mode: overlay;
    padding-top: 50px;
    padding-bottom: 50px;
}

.works__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 110px;
    color:#FFFFFF;
}

.works__level {
    width: 966px;
    height: 3px;
    margin-bottom: 50px;
    border-style: dashed;
    border-color: #C99B67;
    position: relative;
    z-index: 1;
}

.works__square {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -31px;
    left: -3px;  
    background: #F8F8F2;
    border: 4px solid #C99B67;
    box-sizing: border-box;
    
}

.works__square--second{
    position: absolute;
    top: -31px;
    left: 452px;
}

.works__square--third{
    position: absolute;
    top: -31px;
    left: 905px; 
}

.works__list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

.works__item{
    width: 433px;
    padding: 20px 20px 40px 20px; 
    background-color: #F8F8F2;
    
}

.works__item:nth-child(2){
    margin: 0 20px;
}

.works__number {
    display: block;
    width: 69px;
    height: 75px;
    font-size: 64px;
    font-weight: 400;
    line-height: 75px;
    margin-left: auto;
    margin-bottom: 45px;
    color: #333333;
    opacity: 0.8;
}

.works__wrapper{
    width: 385px;
}

.works__cover{
    width: 248px;
}

.works__text{
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
    
}

.works__info{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    color: #333333;
}

.works__recover{
    text-align: center;
}

.works__link {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 16px 24px;
    color: #FFFFFF;
    background: #C99B67;
    border-radius: 100px;    
}

/* =================footer================ */

.footer {
    background-image: url("../img/back-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F3D7B7;
    background-blend-mode:overlay;
    padding: 65px 0 ;
}

.footer__inner {
    display: flex;
    align-items: center;
}
.footer__logo {
    margin-right: 246px;
}


.footer__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__item {
    margin-right: 40px;
}

.footer__item:nth-child(3){
    margin-right: 331px;

}


.footer__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
}


.footer__search {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__social {
    margin-right: 30px;
}

.footer__social:nth-child(3){
    margin-right:0 ;
}

.footer__pic{
    width: 30px;
    height: 30px;
}

.footer__twitter{
    width: 30px;
    height: 25px;
}

